<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/styles.css">
  <% if (title === 'Inscription' || title === 'Connexion' || title === 'Profil' || title === 'Réinitialisation du mot de passe') { %>
  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/form/form.css">
  <% } %>
  <% if (title === 'Vérification email') { %>
  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/verify-email/verify-email.css">
  <% } %>
  <% if (title === 'Dashboard') { %>
  <link rel="stylesheet" href="<%= process.env.SITE_URL %>/assets/styles/admin/admin.css">
  <% } %>
  <title><%= title || 'shareskill' %></title>
</head>

<body>

  <header>
    <%- include('./components/navbar') %>
  </header>

  <main>
    <h1><%= title %></h1>
    <%- include(view) %>
  </main>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/navbar.js"></script>

  <% if (title === 'Inscription') { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/register.js"></script>
  <% } %>

  <% if (title === 'Vérification email') { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/verify-email.js"></script>
  <% } %>

  <% if (title === 'Connexion') { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/connexion.js"></script>
  <% } %>

  <% if (title === 'Dashboard') { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/dashboard.js"></script>
  <% } %>

  <% if (title === 'Profil') { %>
  <script type="module" src="<%= process.env.SITE_URL %>/assets/js/profil.js"></script>
  <% } %>
</body>

</html>